body {
    background-color: black;
}
header {     
 
    position: fixed;    
    background-color: aliceblue;
    top: 0;
    left: auto;
    right: 0;
    height: 12.5vh;
    width: 100vw;

}
main{
    width: 70vw;
    height: 70vh;
    margin: 40px auto;

    border-radius: 10px;
    overflow: hidden;



    display: flex;

}

.picture-container1 { 
    position: relative;

    height: 70vh;
}

.picture-container1 a, .picture-container1 a img{
    width: 40vw;
    height: 70vh;
    object-fit: cover;
    
}



.picture-container1 video{
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;

    height: 70vh;
    width: 40vw;
    object-fit: cover;
}



.smaller-games { 


    height: 70vh;
}

.picture-container2, .picture-container3 {
    position: relative;
}

.smaller-games a, .smaller-games a img{
    width: 40vw;
    height: 300px;
    object-fit: cover;
    
}





.picture-container2 video, .picture-container3 video{
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;

    height: 300px;
    width: 40vw;
    object-fit: cover;
}


