* {
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #1b1a1a;
    display: flex;
    flex-direction: column;

    align-items: center;

}
header{
    width: 100vw;
    height: 13vh;

    background-image: linear-gradient(to right, rgb(219, 51, 51), rgb(13, 179, 63), rgb(15, 102, 201));

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: solid 1px white;
}

header .fa-house{
    color: white;
    font-size: 35px;

    padding: 10px;
    margin-left: 5vw;
}
header h1{
    color: white;
    font-size: 42px;
}
header #plassholder{
    width: 59px;
    margin-right: 5 vw;
}




main{
    width: fit-content;
    height: fit-content;

    margin-top: 5vh;
    margin-bottom: 5vh;




    overflow: hidden;

    display: flex;


    max-width: 800px;
}

footer{
    background-image: linear-gradient(to left, rgb(219, 51, 51, 0.2), rgb(13, 179, 63, 0.2), rgb(15, 102, 201, 0.2));
    width: 100vw;
    padding: 20px;

    border-top: solid 1px;
    border-color: rgba(255, 255, 255, 0.671);

    display: flex;
    justify-content: center;

}

footer p, footer h3{
    color: white;
}
footer div{
    width: 80vw;
}

#poeng-boks{
    margin-top: 5vh;

    background-color: rgb(41, 41, 41);
    padding: 10px;
    padding-left: 17px;
    padding-right: 17px;

    border-radius: 10px;
}
#poeng-boks h1{
    color: white;
    font-size: 30px;
}


main div a img{
    border-radius: 10px;

    
}
.picture-container1 a img{
    box-shadow: 0 1px 6px 0 rgba(0, 0, 265, 0.2), 0 4px 6px 1px rgba(0, 0, 265, 0.19);  
    
}
.picture-container2 a img{
    box-shadow: 0 1px 6px 0 rgba(265, 0, 0, 0.2), 0 4px 6px 1px rgba(265, 0, 0, 0.19);  
    
}
.picture-container3 a img{
    box-shadow: 0 1px 6px 0 rgba(0, 265, 0, 0.2), 0 4px 6px 1px rgba(0, 265, 0, 0.19);  
    
}


.picture-container1, .picture-container2, .picture-container3{
    margin: 10px;
}

.picture-container1 { 
    position: relative;
    margin-top: 17px;

    height: 75vh;

}


.picture-container1 a, .picture-container1 a img, .picture-container1 video{
    width: 40vw;
    height: 75vh;
    object-fit: cover;

    max-width: 400px;
    
}



.picture-container1 video{
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;

    height: 75vh;

    object-fit: cover;

    max-width: 400px;
}



.smaller-games { 
    height: 75vh;
}


.picture-container2, .picture-container3 {
    position: relative;

}

.smaller-games a, .smaller-games a img, .smaller-games video{
    width: 40vw;
    height: 37.5vh;
    object-fit: cover;

    max-width: 370px;

    border-radius: 20px;
    
}





.picture-container2 video, .picture-container3 video{
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.sentrert-tekst{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20%;
    left: 20%;


    

    width: 60%;
    height: 60%;

}
.sentrert-tekst p{
    font-size: 5vw;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
   
}

.picture-container1:hover a .sentrert-tekst, .picture-container2:hover a .sentrert-tekst, .picture-container3:hover a .sentrert-tekst{
    display: none;
    
}

@media(min-width: 600px){
    .sentrert-tekst p{
        font-size: 40px;
        
    }
}


@media(max-width: 600px){
    main{
        flex-direction: column;
        height: 100vh;
        width: 60vw;
        align-items: center;
    }

    

    .picture-container1{
        height: 30vh;
    }
    .picture-container1 a, .picture-container1 a img{
        height: 30vh;
    }
    .picture-container1 video{
        height: 30vh;
    }
    .smaller-games { 
        height: 60vh;
    }
    .smaller-games a, .smaller-games a img{

        height: 30vh;

 
    }




}
