* {
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body{

    background-color: #242222;
    height: 100vh;

}


h2, h1, p{
    color: white;
    
}





#kjappMann-intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-image: url("../bilder/kjapp-mann-bakgrunn.png") ;
    background-attachment: fixed;
    opacity: 1;

    height: 100vh;
    width: 100%;


    background-size: cover;

    
}
#kjappMann-intro div{
    margin: 10px;
}

#button-container{
    display: flex;
    justify-content: center;
    width: 70vw;
    
}

#pacman-text{
    font-weight: 600;
    word-spacing: 1.5px;
    max-width:400px ;
}        

#intro-tittel, #intro-box{
    background-color: #242222;
    padding: 20px;
    
}

#intro-box{
    max-width: 60vw;
    padding: 25px;

}

@media screen and (max-width: 550px){
    
    #kjappMann-intro{
        height: 120vh;
    }

    #button-container{
        flex-direction: column;
        align-items: center;
    }

    

}





#button-container{
    display: flex;
}
#intro-title, #intro-box{
    background-color: #242222;
    padding: 15px;
}

#intro-box{
    max-width: 60vw;
    padding: 20px;
}

header{
    width: 100%;
    height: 13vh;

    background-color: #183dd0;

    display: flex;
    justify-content: left;
    align-items: center;
}

header .fa-house{
    color: white;
    font-size: 35px;

    padding: 10px;
    margin-left: 5vw;
}

.difficultyGrade{
    height: 60px;
    width: 150px;
    margin: 10px;
    font-weight: 550;
    font-size: 20px;
    border-radius: 30px;

    color: lightgrey;
    background-color: #183dd0;

    cursor: pointer;
}












p {
    color: white;
    font-family:sans-serif ;
    font-size: 14px;
    margin-bottom: 6px;
}


/*Diddi la til dette*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

main canvas {
    padding: 10px;
    /*Her emdra diddi*/
    width: 95%;
    max-width: 600px;
}

.movement{
    width: 100px;
    height: 30px;
    display: none;

}

.buttons{
    width:660px;
    display: flex;
    flex-direction: column;
    align-items: center;



}

.hidden{
    display: none;
} 






#knapp-boks{
    display:flex;
    flex-direction: row;
}


#til-forsiden-button, #ny-runde-button{
    cursor: pointer;
    height: 60px;
    width: 150px;
    margin: 10px;
    font-weight: 550;
    font-size: 20px;
    border: solid white 2px;
    

    color: white;
    background-color: #183dd0;
}

#til-forsiden-button:hover, #ny-runde-button:hover{
    transition: 0.4s;
    transform: scale(1.1);
}

.fa-trophy{
    font-size: 25vh;
    color: gold;
}
.fa-heart-crack{
    font-size: 30vh;
    color: #183dd0;
}

#til-forsiden-button{
    opacity: 0.85;
    scale: 0.92;
    
}





@media(max-width: 700px){
    .movement {
        display:unset;
        height: 60px;
        width: 25vw;
        margin: 1vh;
        font-weight: 550;
        font-size: 2vh;
        border-radius: 30px;
    
        color: lightgrey;
        background-color: #183dd0;
    
        cursor: pointer;        
    }

    main {
        width: 100vw;
    }

    main canvas {
        width: 100%;
    }


    
    .buttons {
        width: 100%;

    }

    .hidden{
        display: none;
    }
}